* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

li {
  list-style: none;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.todo-container {
  width: 50%;
  border: 1px solid #dadada;
  padding: 20px 24px;
  border-radius: 4px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.header-title {
  text-align: center;
  padding: 20px 0;
  font-size: 24px;
}

.job-input {
  display: flex;
  gap: 12px;
  margin-bottom: 8px;
}

.error {
  color: red;
  margin-bottom: 8px;
  font-size: 13px;
}

.input {
  flex: 1;
  height: 30px;
  outline: none;
  border-radius: 4px;
  border: 1px solid #dadada;
  padding: 0 16px;
}

.btn {
  height: 30px;
  outline: none;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  padding: 0 16px;
}

.btn-add {
  background-color: blue;
}

.btn-edit {
  background-color: orange;
  margin-right: 8px;
}

.btn-delete {
  background-color: red;
}

.list-job {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 12px;
}

.job-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dadada;
  padding-bottom: 12px;
}

.item-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.input-checkbox {
  cursor: pointer;
  height: 18px;
  width: 18px;
}

.job-footer {
  background-color: #eeecec;
  padding: 12px;
  border-radius: 4px;
}